@import '~bootstrap/scss/bootstrap';


img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

a {
    color: white;
    text-decoration: none;
}

.descrizone {
    height: 12rem;
}