@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~fontawesome/webfonts';
@import '~fontawesome/scss/fontawesome';
@import '~fontawesome/scss/solid';
@import '~fontawesome/scss/brands';
@import '~fontawesome/scss/regular';



img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

a {
    color: white;
    text-decoration: none;
}

.descrizone {
    height: 12rem;
}